<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/style3.css">
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
</head>

<body>
    <nav class="navbare">
        <a href="/account"><h1 style="font-family: 'Satisfy', cursive; ">Kadev</h1></a> 
        <input type="text" placeholder="Search">
        <ul>
             
            <li><a href="/account"><img id="one" src="images/icons8-home-96.png" alt=""></a></li>
            <li><a href="/profile"><img id="two" src="images/icons8-love-96.png" alt=""></a></li>
            <li><a href="/upload"><img id="three" src="/images/upload--v2.png" alt=""></a></li>
            <li><a href="/logout"><img id="four" src="/images/logout.png" alt=""></a></li>
        </ul>
    </nav>
    <div class="form">
        <input type="hidden" value="">
        <form action="/add" method="POST">
           
            <h1 style="text-align: center;">add data</h1>
            <p><%=fail%></p>
            <p>Kadev3158</p>
            <p>
                <% if(photo.length>0){%>
                    <% photo.forEach(function(row){%>
                <img src="/profiles/<%=row.imagename%>" alt=""> <br>
                
            <a href="account/edit/<%=row._id%>">change your profile pic</a>
            <%})}%>
            </p>
        <div class="input">
            <p>Name</p>
            <input type="text" value="" name="user" >
        </div>
        <div class="input">
            <p>Bio</p>
            <input type="text" value="" name="bio" >
        </div>
       

        
        <button type="submit" role="" value="submit">done</button>
        </form>
    </div>
</body>
</html>