<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>image</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/style3.css">
    
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">

</head>
<body>
    
    <nav class="navbar">
        <a href="/account"><h1 style="font-family: 'Satisfy', cursive; ">Kadev</h1></a> 
        <input type="text" placeholder="Search">
        <ul>
             
            <li><a href="/account"><img id="one" src="images/icons8-home-48.png" alt=""></a></li>
            <li><a href="/profile"><img id="two" src="images/icons8-love-96.png" alt=""></a></li>
            <li><a href="/upload"><img id="three" src="/images/upload--v2.png" alt=""></a></li>
            <li><a href="/logout"><img id="four" src="/images/logout.png" alt=""></a></li>
        </ul>
    </nav>
    <div class="form">
     
        <h2 > profile upload </h2>
        <form action="/profile" method="POST" enctype="multipart/form-data">
          <p><%= sucess %></p>
        
            <input id="in"name="file" type="file" placeholder="image" >
                     
        <button  type="submit" name="submit" value="submit">Register Now</button>
        </form>
    </div>
   

</body>
</html>