
*{
  margin: 0px;
  padding: 0px;
}
body{
  /* background:linear-gradient( #e8cbc0,
  #737a99); */
  height: 200vh;
  /* font-family: system-ui; */
  font-family: 'Noto Sans JP', sans-serif; 
  
}

.navbar{
  display: flex;
  justify-content:space-evenly;
  height: 50px;
  width: 100%;
  border: 2px solid  rgba(0,0,0,0.3);
}
ul img{
  height: 35px;
  width: 40px;
}

#four{
  height: 34px;
  width: 40px; 
}

img{
  height: 35px;
  margin-top: 10px;
  width: 150px;
}
ul{
  display: flex;
  justify-content: space-evenly;
  margin-top: -2px;

}
li{
  list-style: none;
  margin-top: 0px;
  margin-right: 60px;
}
a{
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.navbar input{
  height: 20px;
  width: 200px;
  margin-top: 11px;
}
#sett{
  height: 30px;
  width: 30px;
  margin-top: 30px;
  border: none;
}

.con2{
  
  justify-content: center;
  /* border: 2px solid black; */
  border-top: 2px solid rgb(138, 134, 134);
  height: 50vh;
  width: 62%;
  margin-left: 250px;
  margin-top: -20px;
}
.box{
  display: flex;
  justify-content: end;
  margin-top: 21px;
  
}
.content{
  margin-top: -20px;
  /* border:2px solid black; */
}
.con2 p{
  padding:20px
  /* font-family 'Noto Sans JP', sans-serif; */

}
.image img{
  width: 286px;
  height: 300px;
  margin: 15px;
  margin-left: 10px;
}





.con{
  display: flex;
  justify-content: center;
  /* border: 2px solid black; */

  height: 37vh;
  width: 70%;
  margin-left: 150px;
  margin-top: 20px;
}

.con img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid grey;
  border-spacing: 20px;
  margin-right: 100px;
}
.con button{
  width: 150px;
  height: 40px;
  background-color: white;
  color: black;
  text-transform: capitalize;
  border-radius: 10px;
  margin: 20px;
  border: 1px solid #ddd;
}
.con h2{
  margin-top: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box{
  display: flex;
  justify-content: end;
  margin-top: 2px;
}
.boxe{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2px;
}
.box p{
  font-family: inherit;
  margin-right: 20px;
  /* font-family: monospace; */
  font-family: 'Akaya Kanadaka', cursive;
  font-size: 18px;
}
.box h3{
  margin-right: 249px;
  margin-top: 20px;
}
.box strong{
  margin-right: 150px;
  margin-top: 20px;
 font-size: 20px;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-transform: capitalize;
}

a:hover{
  text-decoration: underline;
}

.image button{
  height: 20px;
  width: 60px;
  position: absolute;
  margin: -10px 15px;
  background-color: black;
}
.image button a{
 
  color:white;
}
.image{
  /* margin-left: 228px; */
}


@media (max-width:768px) {

  input{
    display: none;
  }
  .navbar{
    min-width: 100%;
  }
  .con2{
    margin-left: 143px;
  }
  
}

@media (max-width:468px) {

  input{
    display: none;
  }
  .navbar{
    min-width: 147%;
  }
  .con2{
    margin-left: 143px;
  }
  
}



